# Omit material folder.
material

# Omit class files.
*.class

# Omit generated source.
**/src/gen/

# Ignore jar files.
*.jar

# Ignore swap files.
.*.sw*

# Ignore .out files from test.
*.out

# Ignore intellij IDEA folder.
.idea/

# Ignore .expected test files.
*.expected

# Ignore .lang test files.
*.lang

# Ignore .o object files.
*.o

# Ignore executables dir.
**/executables

# Ignore *.elf files.
*.elf
