# Omit material folder.
material

# Omit class files.
*.class

# Omit generated source.
**/src/gen/

# Ignore jar files.
*.jar

# Ignore swap files.
.*.sw*

# Ignore .out files from test.
*.out

# Ignore intellij IDEA folder.
.idea/
